.icon-premium-crown {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1341px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 81px;
  width: 86px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-crown {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1341px;
    height: 81px;
    width: 86px;
  }
}

.icon-premium-chat {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1293px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 43px;
  width: 54px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-chat {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1293px;
    height: 43px;
    width: 54px;
  }
}

.icon-premium-settings {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1550px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 47px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-settings {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1550px;
    height: 41px;
    width: 47px;
  }
}

.icon-premium-arrows {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1249px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 39px;
  width: 44px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-arrows {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1249px;
    height: 39px;
    width: 44px;
  }
}

.icon-premium-feedbacks {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1427px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 118px;
  width: 106px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-feedbacks {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1427px;
    height: 118px;
    width: 106px;
  }
}

.icon-infoplate-warn {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -516px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-infoplate-warn {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -516px;
    height: 16px;
    width: 16px;
  }
}

.icon-upload-item {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -2330px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 44px;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-upload-item {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -2330px;
    height: 36px;
    width: 44px;
  }
}

.icon-mask-placeholder {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -623px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 161px;
  width: 218px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mask-placeholder {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -623px;
    height: 161px;
    width: 218px;
  }
}
.icon-reg-success {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -2016px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 46px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-success {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -2016px;
    height: 46px;
    width: 46px;
  }
}
.icon-reg-question {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1991px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-question {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1991px;
    height: 20px;
    width: 20px;
  }
}
.icon-reg-appstore {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1717px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 140px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-appstore {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1717px;
    height: 40px;
    width: 140px;
  }
}
.icon-reg-googleplay {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1807px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 140px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-googleplay {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1807px;
    height: 40px;
    width: 140px;
  }
}
.icon-reg-confidence {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1762px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 140px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-confidence {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1762px;
    height: 40px;
    width: 140px;
  }
}
.icon-reg-present {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1944px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 49px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-present {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1944px;
    height: 42px;
    width: 49px;
  }
}
.icon-reg-mailonline {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1852px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 217px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-mailonline {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1852px;
    height: 36px;
    width: 217px;
  }
}
.icon-reg-metro {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1893px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 129px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-metro {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1893px;
    height: 46px;
    width: 129px;
  }
}
.icon-reg-wmj {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -2113px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 176px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-wmj {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -2113px;
    height: 44px;
    width: 176px;
  }
}
.icon-reg-tatler {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -2067px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 148px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-tatler {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -2067px;
    height: 41px;
    width: 148px;
  }
}
.icon-reg-moderation-middle {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -879px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-moderation-middle {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -879px;
    height: 26px;
    width: 26px;
  }
}
.icon-reg-crop-mask {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -380px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-crop-mask {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -380px;
    height: 26px;
    width: 26px;
  }
}
.icon-reg-delete-mask {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -426px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-delete-mask {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -426px;
    height: 22px;
    width: 22px;
  }
}
.icon-reg-video {
  background-image: url('../images/icon-reg-video.jpg?1484538938');
  background-size: cover;
  background-size: cover;
  height: 146px;
  width: 253px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .icon-reg-video {
    background-image: url('../images/icon-reg-video@2x.jpg?1484538938');
  }
}
.icon-reg-crop-edit {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -312px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 22px;
  position: absolute;
  top: -10px;
  left: -10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-crop-edit {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -312px;
    height: 23px;
    width: 22px;
  }
}
.icon-reg-moderation-middle {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -879px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-moderation-middle {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -879px;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
  }
}

.icon-photo-mask1 {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -974px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask1 {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -974px;
    height: 50px;
    width: 50px;
  }
}

.icon-photo-mask2 {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1029px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask2 {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1029px;
    height: 50px;
    width: 50px;
  }
}

.icon-photo-mask3 {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1084px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask3 {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1084px;
    height: 50px;
    width: 50px;
  }
}

.icon-photo-mask4 {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1139px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask4 {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1139px;
    height: 50px;
    width: 50px;
  }
}

.icon-photo-mask5 {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1194px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask5 {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1194px;
    height: 50px;
    width: 50px;
  }
}

.icon-webmoney {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -2417px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 37px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-webmoney {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -2417px;
    height: 36px;
    width: 37px;
  }
}

.icon-yad {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -2458px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 23px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-yad {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -2458px;
    height: 32px;
    width: 23px;
  }
}

.icon-bitcoin {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -256px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-bitcoin {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -256px;
    height: 32px;
    width: 32px;
  }
}

.icon-alphaclick {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -180px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-alphaclick {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -180px;
    height: 32px;
    width: 21px;
  }
}

.icon-prombank {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1613px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-prombank {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1613px;
    height: 34px;
    width: 34px;
  }
}

.icon-sber {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -2211px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-sber {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -2211px;
    height: 30px;
    width: 34px;
  }
}

.icon-qiwi {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -1652px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-qiwi {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -1652px;
    height: 36px;
    width: 34px;
  }
}

.icon-mts {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -935px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mts {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -935px;
    height: 34px;
    width: 34px;
  }
}

.icon-beeline {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -217px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-beeline {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -217px;
    height: 34px;
    width: 34px;
  }
}

.icon-megafon {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -789px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-megafon {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -789px;
    height: 34px;
    width: 34px;
  }
}

.icon-tele2 {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -2310px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-tele2 {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -2310px;
    height: 15px;
    width: 40px;
  }
}

.icon-sms {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -2273px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-sms {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -2273px;
    height: 32px;
    width: 32px;
  }
}

.icon-visa-mc {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -2371px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-visa-mc {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -2371px;
    height: 41px;
    width: 34px;
  }
}

.icon-arrow-right-grey {
  width: 10px;
  height: 10px;
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.icon-mailing-cancel {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -558px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mailing-cancel {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -558px;
    height: 60px;
    width: 60px;
  }
}

.icon-empty-interested {
  background-image: url('../images/icons-s260edb55f4.png');
  background-position: 0 -453px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 58px;
  width: 57px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-empty-interested {
    background-image: url('../images/icons-2x-s03bd6abe54.png');
    background-size: 218px auto;
    background-position: 0 -453px;
    height: 58px;
    width: 57px;
  }
}

/*# sourceMappingURL=icons.css.map */
